/*Desktop First Common Breakpoints*/


/*tablet landscape and desktop layout (960px or more) */
@media only screen and (min-width: 960px) {
    /*...tablet landscape and desktop styles */
}

/*table portrait layout (768px to 959px) */
@media only screen and (max-width: 959px) {
    /*... tablet portrait styles */
    html {
        font-size: 83.75%;
    }
    #title-paragraph {
        /*font-size: 1rem;*/

    }
}

/*mobile landscape layout (481px to 767px) */
@media only screen and (max-width: 768px) {
    /*...mobile landscape styles */
    #title-paragraph {
        font-size: 1rem;
    }

}

/*mobile portrait layout (479px or less) */
@media only screen and (max-width: 480px) {
    /*...mobile portrait styles */
    html {
        font-size: 62.5%;
    }
    .ma-container {
        padding-left: 0;
        padding-right: 0;
    }
    .section__title--paragraph {
        width: 100%;
    }
    #title-paragraph {
        margin-left: auto;
        margin-right: auto;
        font-size: .8375rem;
        letter-spacing: 1px;
    }
    #contact__form--group {
        width: 90%;
    }
    form .contact__form--text {
        height: 18px;
    }
    .contact__form  .contact__form--label {
        bottom: 35px;
    }

    .contact__form .contact__form--text:focus+.contact__form--label,
    .contact__form .contact__form--text.not-empty+.contact__form--label {
        transform: scale(.80) translateY(-30px);
    }
    .contact__form .contact__form--prompt {
        bottom: 20px
    }
    .contact__form:nth-child(3) .contact__form--prompt {
        bottom: -15px;
    }
    form .submit {
        height: 40px;
        font-size: 1rem;
    }
}